apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: default-mtls
  namespace: petclinic
spec:
  host: "*.petclinic.svc.cluster.local"
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
---
# Disable mTLS for discovery-server (Eureka needs plain HTTP)
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: discovery-server-plaintext
  namespace: petclinic
spec:
  host: discovery-server
  trafficPolicy:
    tls:
      mode: DISABLE
---
# Disable mTLS for config-server
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: config-server-plaintext
  namespace: petclinic
spec:
  host: config-server
  trafficPolicy:
    tls:
      mode: DISABLE
