---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: api-gateway
  namespace: petclinic
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: customers-service
  namespace: petclinic
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vets-service
  namespace: petclinic
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: visits-service
  namespace: petclinic
