apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: customers-retry-delay
  namespace: petclinic
spec:
  hosts:
  - customers-service # Thử dùng tên ngắn
  gateways:
  - petclinic-gateway
  - mesh # Thêm mesh để dashboard (như Kiali) hiển thị liên kết nội bộ
  http:
  - fault:
      delay:
        fixedDelay: 2s
        percentage:
          value: 100
    retries:
      attempts: 3
      perTryTimeout: 4s
      retryOn: 5xx,connect-failure,refused-stream
    route:
    - destination:
        host: customers-service