apiVersion: apps/v1
kind: Deployment
metadata:
  name: customers-service
  namespace: petclinic
  labels:
    app: customers-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customers-service
  template:
    metadata:
      labels:
        app: customers-service
        version: v1
    spec:
      containers:
      - name: customers-service
        image: tnnhan57/customers-service:latest
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "kubernetes"
        - name: CONFIG_SERVER_URL
          value: "http://config-server:8888"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "customers-service"
