apiVersion: apps/v1
kind: Deployment
metadata:
  name: vets-service
  namespace: petclinic
  labels:
    app: vets-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vets-service
  template:
    metadata:
      labels:
        app: vets-service
        version: v1
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: vets-service
        image: docker.io/tnnhan57/vets-service:latest
        ports:
        - containerPort: 8083
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
        - name: CONFIG_SERVER_URL
          value: "http://config-server:8888"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "vets-service"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://discovery-server:8761/eureka/"