apiVersion: apps/v1
kind: Deployment
metadata:
  name: visits-service
  namespace: petclinic
  labels:
    app: visits-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: visits-service
  template:
    metadata:
      labels:
        app: visits-service
        version: v1
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: visits-service
        image: docker.io/tnnhan57/visits-service:latest
        ports:
        - containerPort: 8082
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
        - name: CONFIG_SERVER_URL
          value: "http://config-server:8888"
        - name: EUREKA_CLIENT_FETCH_REGISTRY
          value: "false"
        - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
          value: "false"
