apiVersion: apps/v1
kind: Deployment
metadata:
  name: visits-service
  namespace: petclinic
  labels:
    app: visits-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: visits-service
  template:
    metadata:
      labels:
        app: visits-service
        version: v1
    spec:
      containers:
      - name: visits-service
        image: tnnhan57/visits-service:latest
        ports:
        - containerPort: 8082
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
        - name: CONFIG_SERVER_URL
          value: "http://config-server:8888"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "visits-service"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://discovery-server:8761/eureka/"
        - name: SPRING_CLOUD_CONFIG_ENABLED
          value: "false"
