apiVersion: apps/v1
kind: Deployment
metadata:
  name: visits-service
  namespace: petclinic
  labels:
    app: visits-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: visits-service
  template:
    metadata:
      labels:
        app: visits-service
        version: v1
    spec:
      containers:
      - name: visits-service
        image: tnnhan57/visits-service:latest
        ports:
        - containerPort: 8082
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "kubernetes"
