apiVersion: v1
kind: Service
metadata:
  name: customers-service
  namespace: petclinic
  labels:
    app: customers-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    name: http
  selector:
    app: customers-service