apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: petclinic
  labels:
    app: discovery-server
spec:
  type: ClusterIP
  ports:
  - port: 8761
    targetPort: 8761
    name: http
  selector:
    app: discovery-server
