apiVersion: v1
kind: Service
metadata:
  name: vets-service
  namespace: petclinic
  labels:
    app: vets-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8083
    name: http
  selector:
    app: vets-service
