apiVersion: v1
kind: Service
metadata:
  name: visits-service
  namespace: petclinic
  labels:
    app: visits-service
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    name: http
  selector:
    app: visits-service
